@import url('https://fonts.cdnfonts.com/css/poppins');


/*    Home page  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

::selection {
    color: #fff;
    background-color: #333;
}

/* PreLoader */


#loading {
    zoom: 110%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
}

.loader {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 800px;
}

.inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 10px solid #8490ff;
}

.inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 10px solid #8490ff;
}

.inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 10px solid #8490ff;
}

.loading-text {
    position: absolute;
    top: calc(50% - -42px);
    left: calc(50% - 32px);
    color: #222;
    font-weight: 550;
    width: 64px;
    height: 64px;

}

@keyframes rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}


body {
    width: 100%;
    background-color: #fff;
    font-family: "Poppins", serif;
    zoom: 80%;
}


/* Main Start */


#Main {
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(45deg, #443B96, #F60B68, #F4483A);
    background-size: 500% 500%;
    animation: change-gradient 5s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.13);
    z-index: 997;
    position: sticky;
    top: 0;
    left: 0%;
}

@keyframes change-gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}


/* header */


#Main a {
    text-decoration: none;
    color: #fff;
}

#Main h3 {
    margin: 10px 30px;
    font-size: 30px;
    font-weight: 600;
}

#navbar {
    margin: 10px;
    display: flex;
    align-items: end;
    justify-content: center;
}

#navbar li {
    margin: 10px;
    padding: 10px;
    display: inline-block;
    background: transparent;
    list-style: none;
    position: relative;
}

#navbar li a {
    color: #fff;
    line-height: 60px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s ease;
    letter-spacing: .5px;
    cursor: pointer;
}

#navbar li a:hover,
#navbar li a.active {
    color: #222;
    box-sizing: content-box;
    padding: 0;
    transition: color .1s linear;
}

#navabar li a.active::after,
#navbar li a:hover::after {
    height: 2px;
    position: absolute;
    transition: color .1s linear;
}

.btn {
    background-color: #333;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: color .4s linear;
}

.success {
    border-radius: 10px;
    border: 1px solid #333;
    padding: 10px 15px;
    color: #fff;
    transition: color .4s linear;
}

.success:hover {
    background-color: #f9f9ff;
    color: #222;
    border: 1px solid #f9f9ff;
    transition: color .4s linear;
}


/* Front-page */


#Front {
    padding: 20px;
    background-color: #e8eaed;
    height: 45vh;
}

#Front .container h2 {
    padding-top: 80px;
    padding-left: 200px;
    font-size: 46px;
    font-weight: 600;
    letter-spacing: 1px;
}

#Front .container p {
    padding: 0 200px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
}

#Info {
    padding: 100px;
}

#Info .information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0 2.8rem;
}

.information a {
    text-decoration: none;
    cursor: pointer;
}

#Info .flex {
    border: 1px solid #111;
    padding: 40px;
    border-radius: 10px;
    color: #f9f9ff;
    background: #222222;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.flex:hover {
    transform: scale(1.1);
}

#Info .blue {
    background-color: #254284;
}

#Info .red {
    background-color: #d41e00;
}

#Info .green {
    background-color: #008400;
}

.information h3 {
    font-size: 24px;
    font-weight: 500;
}

.information p {
    padding-top: 5px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.5px;
    word-wrap: normal;
}


/* Index */

#Model {
    margin: 30px 0;
}

#Model .desc {
    margin: 30px 150px;
}

#Model .desc h1 {
    font-size: 36px;
    padding: 20px;
    letter-spacing: .5px;
}

#Model .desc ul {
    padding-left: 25px;
    letter-spacing: .5px;

}

#Model .desc ul li {
    font-size: 22px;
    font-weight: 400;
    padding-left: 20px;
    letter-spacing: 1px;
}


/* Table */

#Table {
    padding: 60px 0;
}

/* .table h2 {
    font-size: 24px;
    font-weight: 400;
    padding-left: 20px;
    letter-spacing: 1px;
} */

table,
th,
td {
    border: 2px solid;
    padding: 20px;
    font-size: 18px;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px;
}


/*  Footer  */


#Footer {
    justify-content: center;
    position: bottom;
    background: #111;
    width: 100%;
    /* padding: 5px; */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.13);
    z-index: 100;
}


.footer {
    padding: 20px 20px 0 20px;
    position: relative;
    text-align: center;
}

.footer h3 {
    margin: 10px 40px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: #fff;
}

.footer p {
    margin: 10px 40px;
    font-size: 18px;
    color: silver;
    text-align: center;
    letter-spacing: 1px;
}


/*social -media*/


.socials {
    margin: 0;
    padding: 10px;
    list-style: none;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.socials li {
    margin: 10px;
    padding: 10px 15px;
    border-radius: 50%;
    /* border: 1px solid #fff; */
}

.socials a {
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
}

.socials a i {
    font-size: 38px;
    transition: color .3s linear;
}

.socials a:hover .fa {
    color: #F60B68;
    transition: color .1s linear;
}

.socials a:hover .twitter {
    color: #0072b1;
    transition: color .3s linear;
}

.socials a:hover .insta {
    color: #C13584;
    transition: color .3s linear;
}

.socials a:hover .linkedin {
    color: #0072b1;
    transition: color .3s linear;
}

.socials a:hover .github {
    color: #8490ff;
    transition: color .3s linear;
}


/* Text */

.last {
    padding: 20px;
    margin: 0;
}

.last p {
    font-size: 18px;
    letter-spacing: .5px;
    text-align: center;
    color: gray;
}

.last span {
    color: #8490ff;
}